{% extends "base.html" %}
{%block script%}
<script>
function login() {
	let email, password;
	[email, password] = [
		$("#email").val(),
		$("#password").val()
	];
	user_doc = {
			email: email,
			password: password
	};
	$.ajax({
		type: 'POST',
		url: '/user/login/',
		data: user_doc,
		success: function (response) {
			if (response["msg"] == "success") {
				window.location.replace("{{ url_for("home") }}")
			} else {
				window.alert(response["msg"]);
			}
		},
		err: function(...err) {
			alert(err);
		}
	});
}

</script>
{% endblock %}

{% block content %}	
	<div>
		email:
			<input id="email" type="text" class="form-control">
		password:
			<input id="password" type="text" class="form-control">
		<button onclick="login()">로그인</button>
	</div>

{% endblock %}
