{% extends "base.html" %}
{%block script%}
<script>
	function logout() {
		$.ajax({
			type: 'POST',
			url: '/user/logout/',
			data: {},
			success: function (response) {
				window.alert(response['msg']);
				window.location.replace("{{url_for("home")}}");
			},
			err: function(...err) {
				alert(err);
			}
		});
	}
</script>
{%endblock%}
{%block header%}
<h1>로그아웃</h1>
{%endblock%}
{%block content%}	
	<div>
		{{username}} 님 로그아웃 하시겠습니까?
		<button onclick="logout()">로그아웃</button>
	</div>
{%endblock%}
</body>
</body>
